/* ============ color ============ */
$black: #111;
$white: #fff;
$gray: #999;
$green: rgb(43, 163, 43);
$green-hovered: rgb(106, 167, 106);
$deep-blue: rgb(0, 0, 146);
$light-blue: #d0d0ff;

/* ============ length ============ */
$small-length: 10px;
$ms-length: 20px;
$medium-length: 30px;
$ml-length: 40px;
$large-length: 50px;
$xl-length: 60px;
$xxl-length: 70px;

/* ============ font-size ============ */
$small-size: 12px;
$medium-size: 16px;
$large-size: 24px;
$xl-size: 32px;