/* Taichi Ishiguro */
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  padding: 20px;
}
h1 {
  text-align: center;
}

.big-box {
  width: 802px;
  height: 802px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.small-box {
  width: 200px;
  height: 200px;
  background-color: brown;
  margin-right: 50px;
  margin-bottom: 50px;
  transition: 1s;
}
.small-box:hover {
  cursor: pointer;
}
.small-box:nth-of-type(3n) {
  margin-right: 0;
}
#box1 {
  background-color: #50394c;
}
#box1:hover {
  transform: translate(50px);
}
#box2 {
  background-color: #ffef96;
}
#box2:hover {
  transform: scale(2, 2);
}
#box3 {
  background-color:#618685;
}
#box3:hover {
  transform: rotateX(180deg);
}
#box4 {
  background-color: #f4e1d2;
}
#box4:hover {
  transform: rotateZ(180deg);
}
#box5 {
  background-color: #b2b2b2;
}
#box5:hover {
  transform: skewY(90deg);
}
#box6 {
  background-color: #bc5a45;
}
#box6:hover {
  background-color: #4040a1;
}
#box7 {
  background-color: #4040a1;
}
#box7:hover {
  animation-name: move-alongX;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes move-alongX {
  from {transform: translate(20px);}
  to {transform: translate(700px);}
}
#box8 {
  background-color: #618685;
  transform-origin: center -75%;
}
#box8:hover {
  transform: rotate(360deg);
}
#box9 {
  background-color: #80ced6;
}
#box9:hover {
  animation: slash 1.75s;
}
@keyframes slash {
  50% {
    transform: skew(44deg, 44deg) scale(8, 8);
    opacity: 1;
  }
  75% {
    transform: skew(44deg, 44deg) scale(500, 500);
    opacity: 0.72;
  }
  100% {
    opacity: 0;
  }
}