%button {
  display: block;
  margin: 0 auto 30px;
  background-color: $deep-green;
  color: $white;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 7px darken($deep-green, 15%);

  &:active {
    box-shadow: none;
    position: relative;
    top: 7px;
  }
}

%box {
  width: 600px;
  margin: 20px auto;
  background-color: $green;
  color: $white;
  padding: 20px;
}